################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeckOfSixty/.vs/AstrologianReadings/v16
